<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.0"/>-->
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="360" />
    <compilation debug="true"/>
  </system.web>
  <connectionStrings>
    <add name="ONLINERMS" connectionString="SERVER=43.231.124.94;DATABASE=ONLINERMS;UID=pritesh;PASSWORD=prit.rms123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
